/*****************
** styles for body
******************/
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f8ff; 
  color: #333; /* Dark text color */
}


/*****************************************
** styles for headers
*****************************************/
h2 {
  color: black; 
  font-size: xx-large;
}

h3 {
  display: inline-block;
  color: #4169e1; /* Royal blue text color */
}


/*****************************************
** styles for tables, table header, table data
*****************************************/
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff; /* White background for the calendar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.current-month {
  border-collapse: collapse;
  width: 70%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.prev-month,
table.next-month {
  border-collapse: collapse;
  width: 15%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #b0c4de; /* Light steel blue border color */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #87ceeb; /* Sky blue header background color */
}


/********************************
** styles for calendar containers
********************************/
#calendar-container {
  margin-bottom: 20px;
  
}

.calendar-container {
  display: inline-block;
  margin-right: 35px; 
  vertical-align: top; 
}

@media only screen and (max-width: 768px) {
  .calendar-container {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0; /* No margin on smaller screens */
  }
}

#calendarContainerH3 {
  font-size: xx-large;
}


/**********************************
** styles for display current month
**********************************/
.current-month {
  width: 80%; 
}


/********************
** styles for buttons
********************/
#nav-buttons {
  text-align: center;
  margin-bottom: 10px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4169e1; /* Royal blue button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/**************************************************
** styles for holiday, easter, goodFriday, mlkJrDay
** presidentDay
**************************************************/
.holiday, .easter-day, .good-friday, .martinLutherKingJr-day,
.presidentDay, .dayLightSavingStartDay, .dayLightSavingEndDay,
.mothersDay, .fathersDay, .memorialDay, .laborDay, 
.columbusDay, .electionDay {
  /* Set the position to relative for proper positioning of ::before */
  position: relative;
}

.holiday::before, .easter-day::before, .good-friday::before,
.martinLutherKingJr-day::before, .presidentDay::before,
.dayLightSavingStartDay::before, .dayLightSavingEndDay::before,
.mothersDay::before, .fathersDay::before, .memorialDay::before,
.laborDay::before, .columbusDay::before, .electionDay::before {
  content: '\2022'; /* Unicode character for a bullet point */
  font-size: 1.5em;
  color: black;
  position: absolute;
  top: 85%; /* Adjusted to position the dot underneath the number */
  left: 50%;
  transform: translate(-50%, -50%);
}


/****************************
** styles for holiday-tooltip
****************************/
.holiday-tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1;
}


/************************************
** styles for current day on calendar
************************************/
.current-day {
  font-weight: bold;
  color: black; /* font color */
  background-color: rgb(255, 165, 0); /* background color */
  border-radius: 50%; /* create a circular appearance */
}
