body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f8ff; 
  color: #333; /* Dark text color */
}

h2 {
  color: black; 
  font-size: xx-large;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff; /* White background for the calendar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.current-month {
  border-collapse: collapse;
  width: 70%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.prev-month,
table.next-month {
  border-collapse: collapse;
  width: 15%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #b0c4de; /* Light steel blue border color */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #87ceeb; /* Sky blue header background color */
}

#calendar-container {
  margin-bottom: 20px;
  
}

.calendar-container {
  display: inline-block;
  margin-right: 35px; 
  vertical-align: top; 
}

.current-month {
  width: 80%; 
}

@media only screen and (max-width: 768px) {
  .calendar-container {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0; /* No margin on smaller screens */
  }
}

#calendarContainerH3 {
  font-size: xx-large;
}

#nav-buttons {
  text-align: center;
  margin-bottom: 10px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4169e1; /* Royal blue button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h3 {
  display: inline-block;
  color: #4169e1; /* Royal blue text color */
}

.holiday {
  position: relative;
}

.holiday::before {
  content: '\2022'; /* Unicode character for a bullet point */
  font-size: 1.5em;
  color: black;
  position: absolute;
  top: 85%; /* Adjusted to position the dot underneath the number */
  left: 50%;
  transform: translate(-50%, -50%);
}

.holiday-tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.current-day {
  font-weight: bold;
  color: red; /*font color*/
}

/* Add this style to your existing CSS */

.easter-month {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}